@import url(./reset.css);
:root {
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
* {
  font-family: "Space Grotesk", sans-serif;
}
body {
  background: url("/images/bg-main-desktop.png");
  background-size: 375px 150%;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
.cards-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  border: 1px solid red;
}
.card-front,
.card-back {
  position: relative;
  border: 3px dotted rgb(7, 124, 109);
  max-width: 55%;
}
img {
  max-width: 100%;
}
.card-front-content,
.card-back-content {
  position: absolute;
}
.card-front-content {
  top: 0;
  border: 1px solid red;

  padding: 2rem;
}
.card-back {
  left: 20%;
  top: 0;

  order: 2;
}
.card-back-content {
  right: 0;
  bottom: 50%;
}
.form-section {
  display: grid;
  place-items: center;
  width: 60%;
  border: 1px solid blue;
  margin: auto;
}
form label {
  margin: 1rem 0;
}
form {
  width: 80%;
}
input {
  border: 0.1rem solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 0.3rem;
  width: 95%;
}

.card-name,
.card-number,
.exp-date,
.cvc {
  display: flex;
  flex-direction: column;
}
.date-cvc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}
.exp-date-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
  width: 75%;
}

.confirm-btn {
  background-color: var(--very-dark-violet);
  border: 0;
  outline: 0;
  color: var(--white);
  font-size: 2rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.5em 0;
  width: 100%;
}
.confirm-btn:hover {
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
  body {
    background: url("/images/bg-main-mobile.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  main {
    flex-direction: column;
    height: 100%;
  }
  .form-section {
    width: 100%;
  }

  .card-front,
  .card-back {
    position: relative;
    border: 3px dotted rgb(7, 124, 109);
    max-width: 70%;
  }
  .card-front {
    order: 2;
    top: -20%;
    z-index: 1;
  }
  .card-back {
    left: 0;
    top: 0;

    order: 1;
  }
}
