@import url(./reset.css);
:root {
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
body {
  background: url(/images/bg-main-desktop.png) no-repeat left;
  background-size: 25% 100%;
  height: 100vh;

}
main {
  max-width: 1440px;
  margin: 0 auto;

}
.card-logo {
  max-width: 100px!important;
}
.cards-section {
  display: flex;
  justify-content: space-between;
}
.card-front, .card-back {
  min-height: 20.7rem;
  max-width: 44.7rem;
  position: relative;
}

.card-front {
  color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-front-img, .card-back-img {
  max-width: 100%;
  min-width: 300px;
}
.card-back-cvc {
  position: absolute;

  top: 10px;
  width: 56px
}